<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <timestamp key="timestamp" datePattern="yyyy-MM-dd-HH-mm-ssSSS"/>

    <appender name="aws_cloud_watch_log" class="ca.pjer.logback.AwsLogsAppender">
        <layout>
            <pattern>[%thread] [%date] [%level] [%file:%line] - %msg%n</pattern>
        </layout>
        <logGroupName>seonjaena-</logGroupName>
        <logStreamUuidPrefix>seonjaena-</logStreamUuidPrefix>
        <logRegion>ap-northeast-2</logRegion>
        <maxBatchLogEvents>500</maxBatchLogEvents>
        <maxFlushTimeMillis>30000</maxFlushTimeMillis>
        <maxBlockTimeMillis>5000</maxBlockTimeMillis>
        <retentionTimeDays>0</retentionTimeDays>
        <accessKeyId>AKIA442EBW2WH4TXKELQ</accessKeyId>
        <secretAccessKey>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</secretAccessKey>
    </appender>

    <springProfile name="(stage | production)">
        <logger name="org.springframework" level="INFO">
            <appender-ref ref="aws_cloud_watch_log"/>
        </logger>
    </springProfile>


    <appender name = "STDOUT" class = "ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %highlight([%-5level]) %cyan([%thread]) - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name = "file" class = "ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./application_log/application.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] [%thread] - %replace(%m){'[\u001B\[38;2;255;0;0m, \u001B\[38;2;0;255;0m, \u001B\[m]', ''}%n</pattern>
        </encoder>
        <rollingPolicy class = "ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./application_log/%d{yyyy-MM-dd}/application.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name = "org.springframework" level = "info" />
    <logger name = "org.hibernate" level = "info" />

    <root level = "debug">
        <appender-ref ref = "STDOUT" />
        <appender-ref ref = "file" />
    </root>
</configuration>
